<ol id='menu-id-api-0' class='menu menu-level0 show '>
  <li id='menu-item-api-1' class='menu-item '>
    <span class='menu-item-row'><a href='/Spline/api/Spline.Core/' class='menu-link  '><i class='bi bi-diagram-3' aria-hidden='true'></i> Spline.Core</a><a href='#menu-id-api-1' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-1' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-api-1' class='menu menu-level1 collapse '>
    <li id='menu-item-api-2' class='menu-item '>
      <span class='menu-item-row'><a href='/Spline/api/Spline.Core.BezierPath/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> BezierPath</a><a href='#menu-id-api-2' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-2' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-api-2' class='menu menu-level2 collapse '>
      <li id='menu-item-api-3' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.BezierPath/#methods' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Methods</a><a href='#menu-id-api-3' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-3' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-3' class='menu menu-level3 collapse '>
        <li id='menu-item-api-4' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.BezierPath.ClosePath/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> ClosePath()</a></span>        </li>
        <li id='menu-item-api-5' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.BezierPath.CurveTo-System.Double-System.Double-System.Double-System.Dou-15aee50d0307/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> CurveTo(Double, Double, Double, Double, Double, Double)</a></span>        </li>
        <li id='menu-item-api-6' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.BezierPath.HitTest-System.Double-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> HitTest(Double, Double)</a></span>        </li>
        <li id='menu-item-api-7' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.BezierPath.LineTo-System.Double-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> LineTo(Double, Double)</a></span>        </li>
        <li id='menu-item-api-8' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.BezierPath.Mark-System.Int32/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Mark(Int32)</a></span>        </li>
        <li id='menu-item-api-9' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.BezierPath.MoveTo-System.Double-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> MoveTo(Double, Double)</a></span>        </li>
        <li id='menu-item-api-10' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.BezierPath.ToSvgPath/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> ToSvgPath()</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-api-11' class='menu-item '>
      <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CubicBezier/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> CubicBezier</a><a href='#menu-id-api-11' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-11' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-api-11' class='menu menu-level2 collapse '>
      <li id='menu-item-api-12' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CubicBezier/#constructors' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Constructors</a><a href='#menu-id-api-12' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-12' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-12' class='menu menu-level3 collapse '>
        <li id='menu-item-api-13' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CubicBezier.-ctor-System.Double--/' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> CubicBezier(Double[])</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-14' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CubicBezier/#properties' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Properties</a><a href='#menu-id-api-14' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-14' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-14' class='menu menu-level3 collapse '>
        <li id='menu-item-api-15' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CubicBezier.C/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> C</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-16' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CubicBezier/#methods' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Methods</a><a href='#menu-id-api-16' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-16' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-16' class='menu menu-level3 collapse '>
        <li id='menu-item-api-17' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CubicBezier.AtanCurvature-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> AtanCurvature(Double)</a></span>        </li>
        <li id='menu-item-api-18' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CubicBezier.Curvature-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Curvature(Double)</a></span>        </li>
        <li id='menu-item-api-19' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CubicBezier.Deriv-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Deriv(Double)</a></span>        </li>
        <li id='menu-item-api-20' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CubicBezier.Deriv2-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Deriv2(Double)</a></span>        </li>
        <li id='menu-item-api-21' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CubicBezier.Eval-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Eval(Double)</a></span>        </li>
        <li id='menu-item-api-22' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CubicBezier.LeftHalf/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> LeftHalf()</a></span>        </li>
        <li id='menu-item-api-23' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CubicBezier.RightHalf/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> RightHalf()</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-api-24' class='menu-item '>
      <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CurveGrid/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> CurveGrid</a><a href='#menu-id-api-24' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-24' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-api-24' class='menu menu-level2 collapse '>
      <li id='menu-item-api-25' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CurveGrid/#constructors' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Constructors</a><a href='#menu-id-api-25' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-25' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-25' class='menu menu-level3 collapse '>
        <li id='menu-item-api-26' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CurveGrid.-ctor-System.Int32-System.Collections.Generic.List-Spline.Core.TwoCubics-/' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> CurveGrid(Int32, List<TwoCubics>)</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-27' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CurveGrid/#properties' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Properties</a><a href='#menu-id-api-27' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-27' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-27' class='menu menu-level3 collapse '>
        <li id='menu-item-api-28' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CurveGrid.Masters/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Masters</a></span>        </li>
        <li id='menu-item-api-29' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CurveGrid.N/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> N</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-30' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CurveGrid/#methods' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Methods</a><a href='#menu-id-api-30' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-30' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-30' class='menu menu-level3 collapse '>
        <li id='menu-item-api-31' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CurveGrid.FromJson-System.String/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> FromJson(String)</a></span>        </li>
        <li id='menu-item-api-32' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CurveGrid.GetInterp-System.Double-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> GetInterp(Double, Double)</a></span>        </li>
        <li id='menu-item-api-33' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CurveGrid.GetMaster-System.Int32-System.Int32/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> GetMaster(Int32, Int32)</a></span>        </li>
        <li id='menu-item-api-34' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.CurveGrid.ToJson/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> ToJson()</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-api-35' class='menu-item '>
      <span class='menu-item-row'><a href='/Spline/api/Spline.Core.HitTestResult/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> HitTestResult</a><a href='#menu-id-api-35' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-35' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-api-35' class='menu menu-level2 collapse '>
      <li id='menu-item-api-36' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.HitTestResult/#constructors' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Constructors</a><a href='#menu-id-api-36' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-36' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-36' class='menu menu-level3 collapse '>
        <li id='menu-item-api-37' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.HitTestResult.-ctor-System.Double-System.Double/' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> HitTestResult(Double, Double)</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-38' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.HitTestResult/#fields' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Fields</a><a href='#menu-id-api-38' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-38' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-38' class='menu menu-level3 collapse '>
        <li id='menu-item-api-39' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.HitTestResult.X/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> X</a></span>        </li>
        <li id='menu-item-api-40' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.HitTestResult.Y/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Y</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-41' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.HitTestResult/#properties' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Properties</a><a href='#menu-id-api-41' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-41' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-41' class='menu menu-level3 collapse '>
        <li id='menu-item-api-42' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.HitTestResult.BestDist/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> BestDist</a></span>        </li>
        <li id='menu-item-api-43' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.HitTestResult.BestMark/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> BestMark</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-44' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.HitTestResult/#methods' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Methods</a><a href='#menu-id-api-44' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-44' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-44' class='menu menu-level3 collapse '>
        <li id='menu-item-api-45' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.HitTestResult.AccumCurve-System.Double-System.Double-System.Double-Syst-bb385ea728e9/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> AccumCurve(Double, Double, Double, Double, Double, Double, Double, Double, Nullable<Int32>)</a></span>        </li>
        <li id='menu-item-api-46' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.HitTestResult.AccumLine-System.Double-System.Double-System.Double-Syste-bd419decd6c5/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> AccumLine(Double, Double, Double, Double, Nullable<Int32>)</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-api-47' class='menu-item '>
      <span class='menu-item-row'><a href='/Spline/api/Spline.Core.MathUtils/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> MathUtils</a><a href='#menu-id-api-47' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-47' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-api-47' class='menu menu-level2 collapse '>
      <li id='menu-item-api-48' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.MathUtils/#methods' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Methods</a><a href='#menu-id-api-48' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-48' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-48' class='menu menu-level3 collapse '>
        <li id='menu-item-api-49' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.MathUtils.Hermite5-System.Double-System.Double-System.Double-System.Dou-32678430ca65/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Hermite5(Double, Double, Double, Double, Double, Double)</a></span>        </li>
        <li id='menu-item-api-50' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.MathUtils.Hypot-System.Double-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Hypot(Double, Double)</a></span>        </li>
        <li id='menu-item-api-51' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.MathUtils.Mod2Pi-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Mod2Pi(Double)</a></span>        </li>
        <li id='menu-item-api-52' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.MathUtils.SolveTridiagonal-System.Double-System.Double-System.Double-Sy-41a4ecf25877/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> SolveTridiagonal(Double[], Double[], Double[], Double[], Double[])</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-api-53' class='menu-item '>
      <span class='menu-item-row'><a href='/Spline/api/Spline.Core.MyCurve/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> MyCurve</a><a href='#menu-id-api-53' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-53' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-api-53' class='menu menu-level2 collapse '>
      <li id='menu-item-api-54' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.MyCurve/#methods' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Methods</a><a href='#menu-id-api-54' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-54' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-54' class='menu menu-level3 collapse '>
        <li id='menu-item-api-55' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.MyCurve.EndpointTangent-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> EndpointTangent(Double)</a></span>        </li>
        <li id='menu-item-api-56' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.MyCurve.Render-System.Double-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Render(Double, Double)</a></span>        </li>
        <li id='menu-item-api-57' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.MyCurve.Render4-System.Double-System.Double-System.Nullable-System.Doub-fce0ef72f46a/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Render4(Double, Double, Nullable<Double>, Nullable<Double>)</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-api-58' class='menu-item '>
      <span class='menu-item-row'><a href='/Spline/api/Spline.Core.PolylineUtils/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> PolylineUtils</a><a href='#menu-id-api-58' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-58' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-api-58' class='menu menu-level2 collapse '>
      <li id='menu-item-api-59' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.PolylineUtils/#methods' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Methods</a><a href='#menu-id-api-59' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-59' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-59' class='menu menu-level3 collapse '>
        <li id='menu-item-api-60' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.PolylineUtils.ComputePolylineLength-System.Collections.Generic.IReadOnl-df0737e4aa98/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> ComputePolylineLength(IReadOnlyList<Vec2>, Int32, Int32)</a></span>        </li>
        <li id='menu-item-api-61' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.PolylineUtils.DetectCorners-System.Collections.Generic.IReadOnlyList-Sp-cb89014fc749/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> DetectCorners(IReadOnlyList<Vec2>, Double)</a></span>        </li>
        <li id='menu-item-api-62' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.PolylineUtils.RamerDouglasPeucker-System.Collections.Generic.IReadOnlyL-7aa1257bdd82/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> RamerDouglasPeucker(IReadOnlyList<Vec2>, Double)</a></span>        </li>
        <li id='menu-item-api-63' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.PolylineUtils.ResampleBySpacing-System.Collections.Generic.IReadOnlyLis-23a5e354328f/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> ResampleBySpacing(IReadOnlyList<Vec2>, Int32, Int32, Double)</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-api-64' class='menu-item '>
      <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Polynomial/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> Polynomial</a><a href='#menu-id-api-64' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-64' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-api-64' class='menu menu-level2 collapse '>
      <li id='menu-item-api-65' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Polynomial/#constructors' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Constructors</a><a href='#menu-id-api-65' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-65' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-65' class='menu menu-level3 collapse '>
        <li id='menu-item-api-66' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Polynomial.-ctor-System.Double--/' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Polynomial(Double[])</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-67' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Polynomial/#properties' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Properties</a><a href='#menu-id-api-67' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-67' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-67' class='menu menu-level3 collapse '>
        <li id='menu-item-api-68' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Polynomial.C/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> C</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-69' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Polynomial/#methods' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Methods</a><a href='#menu-id-api-69' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-69' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-69' class='menu menu-level3 collapse '>
        <li id='menu-item-api-70' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Polynomial.Deriv/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Deriv()</a></span>        </li>
        <li id='menu-item-api-71' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Polynomial.Eval-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Eval(Double)</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-api-72' class='menu-item '>
      <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> Spline</a><a href='#menu-id-api-72' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-72' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-api-72' class='menu menu-level2 collapse '>
      <li id='menu-item-api-73' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline/#constructors' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Constructors</a><a href='#menu-id-api-73' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-73' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-73' class='menu menu-level3 collapse '>
        <li id='menu-item-api-74' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.-ctor-System.Collections.Generic.IEnumerable-Spline.Core.Spline-4d3a8aafe220/' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Spline(IEnumerable<Spline.CP>, Boolean)</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-75' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline/#properties' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Properties</a><a href='#menu-id-api-75' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-75' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-75' class='menu menu-level3 collapse '>
        <li id='menu-item-api-76' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.CtrlPts/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> CtrlPts</a></span>        </li>
        <li id='menu-item-api-77' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.IsClosed/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> IsClosed</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-78' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline/#methods' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Methods</a><a href='#menu-id-api-78' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-78' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-78' class='menu menu-level3 collapse '>
        <li id='menu-item-api-79' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.ComputeCurvatureBlending/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> ComputeCurvatureBlending()</a></span>        </li>
        <li id='menu-item-api-80' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.Render-System.Boolean/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Render(Boolean)</a></span>        </li>
        <li id='menu-item-api-81' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.RenderSvg/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> RenderSvg()</a></span>        </li>
        <li id='menu-item-api-82' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.Solve/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Solve()</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-api-83' class='menu-item '>
      <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.CP/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> Spline.CP</a><a href='#menu-id-api-83' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-83' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-api-83' class='menu menu-level2 collapse '>
      <li id='menu-item-api-84' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.CP/#constructors' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Constructors</a><a href='#menu-id-api-84' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-84' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-84' class='menu menu-level3 collapse '>
        <li id='menu-item-api-85' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.CP.-ctor-Spline.Core.Vec2-System.String-System.Nullable-System.D-1aa7f556d31b/' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> CP(Vec2, String, Nullable<Double>, Nullable<Double>)</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-86' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.CP/#fields' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Fields</a><a href='#menu-id-api-86' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-86' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-86' class='menu menu-level3 collapse '>
        <li id='menu-item-api-87' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.CP.KBlend/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> KBlend</a></span>        </li>
        <li id='menu-item-api-88' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.CP.LAk/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> LAk</a></span>        </li>
        <li id='menu-item-api-89' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.CP.LTh/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> LTh</a></span>        </li>
        <li id='menu-item-api-90' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.CP.LThComputed/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> LThComputed</a></span>        </li>
        <li id='menu-item-api-91' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.CP.Pt/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Pt</a></span>        </li>
        <li id='menu-item-api-92' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.CP.RAk/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> RAk</a></span>        </li>
        <li id='menu-item-api-93' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.CP.RTh/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> RTh</a></span>        </li>
        <li id='menu-item-api-94' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.CP.RThComputed/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> RThComputed</a></span>        </li>
        <li id='menu-item-api-95' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Spline.CP.Ty/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Ty</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-api-96' class='menu-item '>
      <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoCubics/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> TwoCubics</a><a href='#menu-id-api-96' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-96' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-api-96' class='menu menu-level2 collapse '>
      <li id='menu-item-api-97' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoCubics/#constructors' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Constructors</a><a href='#menu-id-api-97' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-97' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-97' class='menu menu-level3 collapse '>
        <li id='menu-item-api-98' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoCubics.-ctor-System.Double--/' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> TwoCubics(Double[])</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-99' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoCubics/#properties' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Properties</a><a href='#menu-id-api-99' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-99' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-99' class='menu menu-level3 collapse '>
        <li id='menu-item-api-100' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoCubics.A/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> A</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-101' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoCubics/#methods' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Methods</a><a href='#menu-id-api-101' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-101' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-101' class='menu menu-level3 collapse '>
        <li id='menu-item-api-102' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoCubics.AtanCurvature-System.Double-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> AtanCurvature(Double, Double)</a></span>        </li>
        <li id='menu-item-api-103' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoCubics.Default/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Default()</a></span>        </li>
        <li id='menu-item-api-104' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoCubics.FlipHoriz/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> FlipHoriz()</a></span>        </li>
        <li id='menu-item-api-105' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoCubics.FlipVert/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> FlipVert()</a></span>        </li>
        <li id='menu-item-api-106' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoCubics.GetCenterPt-System.Double-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> GetCenterPt(Double, Double)</a></span>        </li>
        <li id='menu-item-api-107' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoCubics.Raise-System.Object/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Raise(Object)</a></span>        </li>
        <li id='menu-item-api-108' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoCubics.Render-System.Double-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Render(Double, Double)</a></span>        </li>
        <li id='menu-item-api-109' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoCubics.Turn/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Turn()</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-api-110' class='menu-item '>
      <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoParamCurve/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> TwoParamCurve</a><a href='#menu-id-api-110' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-110' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-api-110' class='menu menu-level2 collapse '>
      <li id='menu-item-api-111' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoParamCurve/#methods' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Methods</a><a href='#menu-id-api-111' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-111' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-111' class='menu menu-level3 collapse '>
        <li id='menu-item-api-112' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoParamCurve.ComputeCurvature-System.Double-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> ComputeCurvature(Double, Double)</a></span>        </li>
        <li id='menu-item-api-113' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoParamCurve.ComputeCurvatureDerivs-System.Double-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> ComputeCurvatureDerivs(Double, Double)</a></span>        </li>
        <li id='menu-item-api-114' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoParamCurve.EndpointTangent-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> EndpointTangent(Double)</a></span>        </li>
        <li id='menu-item-api-115' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoParamCurve.MyCubic-System.Double-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> MyCubic(Double, Double)</a></span>        </li>
        <li id='menu-item-api-116' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoParamCurve.Render-System.Double-System.Double/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Render(Double, Double)</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-api-117' class='menu-item '>
      <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoParamSpline/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> TwoParamSpline</a><a href='#menu-id-api-117' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-117' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-api-117' class='menu menu-level2 collapse '>
      <li id='menu-item-api-118' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoParamSpline/#constructors' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Constructors</a><a href='#menu-id-api-118' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-118' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-118' class='menu menu-level3 collapse '>
        <li id='menu-item-api-119' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoParamSpline.-ctor-Spline.Core.TwoParamCurve-System.Collections.Gener-4b858e99d450/' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> TwoParamSpline(TwoParamCurve, IReadOnlyList<Vec2>)</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-120' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoParamSpline/#properties' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Properties</a><a href='#menu-id-api-120' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-120' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-120' class='menu menu-level3 collapse '>
        <li id='menu-item-api-121' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoParamSpline.EndTh/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> EndTh</a></span>        </li>
        <li id='menu-item-api-122' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoParamSpline.StartTh/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> StartTh</a></span>        </li>
        <li id='menu-item-api-123' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoParamSpline.Ths/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Ths</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-124' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoParamSpline/#methods' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Methods</a><a href='#menu-id-api-124' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-124' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-124' class='menu menu-level3 collapse '>
        <li id='menu-item-api-125' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoParamSpline.InitialThs/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> InitialThs()</a></span>        </li>
        <li id='menu-item-api-126' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoParamSpline.IterDumb-System.Int32/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> IterDumb(Int32)</a></span>        </li>
        <li id='menu-item-api-127' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.TwoParamSpline.RenderSvg/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> RenderSvg()</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-api-128' class='menu-item '>
      <span class='menu-item-row'><a href='/Spline/api/Spline.Core.BezierPath.Command/' class='menu-link  '><i class='bi bi-boxes' aria-hidden='true'></i> BezierPath.Command</a><a href='#menu-id-api-128' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-128' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-api-128' class='menu menu-level2 collapse '>
      <li id='menu-item-api-129' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.BezierPath.Command/#constructors' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Constructors</a><a href='#menu-id-api-129' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-129' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-129' class='menu menu-level3 collapse '>
        <li id='menu-item-api-130' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.BezierPath.Command.-ctor-Spline.Core.PathOp-System.Double--/' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Command(PathOp, Double[])</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-131' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.BezierPath.Command/#fields' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Fields</a><a href='#menu-id-api-131' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-131' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-131' class='menu menu-level3 collapse '>
        <li id='menu-item-api-132' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.BezierPath.Command.Args/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Args</a></span>        </li>
        <li id='menu-item-api-133' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.BezierPath.Command.Op/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Op</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-api-134' class='menu-item '>
      <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Vec2/' class='menu-link  '><i class='bi bi-boxes' aria-hidden='true'></i> Vec2</a><a href='#menu-id-api-134' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-134' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-api-134' class='menu menu-level2 collapse '>
      <li id='menu-item-api-135' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Vec2/#constructors' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Constructors</a><a href='#menu-id-api-135' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-135' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-135' class='menu menu-level3 collapse '>
        <li id='menu-item-api-136' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Vec2.-ctor-System.Double-System.Double/' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Vec2(Double, Double)</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-137' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Vec2/#fields' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Fields</a><a href='#menu-id-api-137' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-137' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-137' class='menu menu-level3 collapse '>
        <li id='menu-item-api-138' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Vec2.X/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> X</a></span>        </li>
        <li id='menu-item-api-139' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Vec2.Y/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Y</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-140' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Vec2/#methods' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Methods</a><a href='#menu-id-api-140' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-140' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-140' class='menu menu-level3 collapse '>
        <li id='menu-item-api-141' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Vec2.Cross-Spline.Core.Vec2-/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Cross(in Vec2)</a></span>        </li>
        <li id='menu-item-api-142' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Vec2.Dot-Spline.Core.Vec2-/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Dot(in Vec2)</a></span>        </li>
        <li id='menu-item-api-143' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Vec2.Norm/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Norm()</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-api-144' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Vec2/#operators' class='menu-link  '><i class='bi bi-calculator' aria-hidden='true'></i> Operators</a><a href='#menu-id-api-144' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-144' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-144' class='menu menu-level3 collapse '>
        <li id='menu-item-api-145' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Vec2.op-Addition-Spline.Core.Vec2--Spline.Core.Vec2-/' class='menu-link  '><i class='bi bi-calculator' aria-hidden='true'></i> Addition(in Vec2, in Vec2)</a></span>        </li>
        <li id='menu-item-api-146' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Vec2.op-Division-Spline.Core.Vec2--System.Double/' class='menu-link  '><i class='bi bi-calculator' aria-hidden='true'></i> Division(in Vec2, Double)</a></span>        </li>
        <li id='menu-item-api-147' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Vec2.op-Multiply-Spline.Core.Vec2--System.Double/' class='menu-link  '><i class='bi bi-calculator' aria-hidden='true'></i> Multiply(in Vec2, Double)</a></span>        </li>
        <li id='menu-item-api-148' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.Vec2.op-Subtraction-Spline.Core.Vec2--Spline.Core.Vec2-/' class='menu-link  '><i class='bi bi-calculator' aria-hidden='true'></i> Subtraction(in Vec2, in Vec2)</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-api-149' class='menu-item '>
      <span class='menu-item-row'><a href='/Spline/api/Spline.Core.PathOp/' class='menu-link  '><i class='bi bi-list-ul' aria-hidden='true'></i> PathOp</a><a href='#menu-id-api-149' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-149' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-api-149' class='menu menu-level2 collapse '>
      <li id='menu-item-api-150' class='menu-item '>
        <span class='menu-item-row'><a href='/Spline/api/Spline.Core.PathOp/#fields' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Fields</a><a href='#menu-id-api-150' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-api-150' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-api-150' class='menu menu-level3 collapse '>
        <li id='menu-item-api-151' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.PathOp.ClosePath/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> ClosePath</a></span>        </li>
        <li id='menu-item-api-152' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.PathOp.CurveTo/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> CurveTo</a></span>        </li>
        <li id='menu-item-api-153' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.PathOp.LineTo/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> LineTo</a></span>        </li>
        <li id='menu-item-api-154' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.PathOp.Mark/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Mark</a></span>        </li>
        <li id='menu-item-api-155' class='menu-item '>
          <span class='menu-item-row'><a href='/Spline/api/Spline.Core.PathOp.MoveTo/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> MoveTo</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
  </ol>
  </li>
</ol>
