<ol id='menu-id-guides-0' class='menu menu-level0 show '>
  <li id='menu-item-guides-1' class='menu-item '>
    <span class='menu-item-row'><a href='/Spline/articles/guides/' class='menu-link  '>Guides</a></span>  </li>
  <li id='menu-item-guides-2' class='menu-item '>
    <span class='menu-item-row'><a href='/Spline/articles/guides/using-spline/' class='menu-link  '>Using Spline</a></span>  </li>
  <li id='menu-item-guides-3' class='menu-item '>
    <span class='menu-item-row'><a href='/Spline/articles/guides/global-bspline/' class='menu-link  '>Global B-Spline Interpolation</a></span>  </li>
  <li id='menu-item-guides-4' class='menu-item '>
    <span class='menu-item-row'><a href='/Spline/articles/guides/demospline-workflow/' class='menu-link  '>DemoSpline Workflow</a></span>  </li>
  <li id='menu-item-guides-5' class='menu-item '>
    <span class='menu-item-row'><a href='/Spline/articles/guides/rendering-and-svg/' class='menu-link  '>Rendering and SVG Export</a></span>  </li>
  <li id='menu-item-guides-6' class='menu-item '>
    <span class='menu-item-row'><a href='/Spline/articles/guides/hit-testing-and-editing/' class='menu-link  '>Hit Testing and Editing</a></span>  </li>
  <li id='menu-item-guides-7' class='menu-item '>
    <span class='menu-item-row'><a href='/Spline/articles/guides/curve-grid-and-serialization/' class='menu-link  '>Curve Grid and Serialization</a></span>  </li>
  <li id='menu-item-guides-8' class='menu-item '>
    <span class='menu-item-row'><a href='/Spline/articles/guides/json-format/' class='menu-link  '>JSON Format</a></span>  </li>
  <li id='menu-item-guides-9' class='menu-item '>
    <span class='menu-item-row'><a href='/Spline/articles/guides/editing-workflow/' class='menu-link  '>Editing Workflow</a></span>  </li>
  <li id='menu-item-guides-10' class='menu-item '>
    <span class='menu-item-row'><a href='/Spline/articles/guides/tuner-window/' class='menu-link  '>Tuner Window</a></span>  </li>
  <li id='menu-item-guides-11' class='menu-item '>
    <span class='menu-item-row'><a href='/Spline/articles/guides/migration-from-spline-core/' class='menu-link  '>Migration from Spline.Core</a></span>  </li>
</ol>
